<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/fridaytalk.css">
	<title>Lecture Page</title>       
</head>
<body>
	<div id="lectures">
		<div class="episodes">
			<div class="slideshare">
		<iframe src="http://www.slideshare.net/slideshow/embed_code/key/MAB4Va88G7cwK4" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/ashwan/meet-the-new-slideshare-embed" title="Meet the New SlideShare embed" target="_blank">Meet the New SlideShare embed</a> </strong> from <strong><a href="http:www.slideshare.net/ashwan" target="_blank"> Ashwan </a></strong></div>
			</div>
			<div class="summary">
				<h2>Session 1 Ep.1 - Test</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
			</div>
			<div class="authorimage">
				<img src="http://prettycleverfilms.com/files/2013/11/0935065f0f1bcadd8b57a055f8f2f40a.jpeg">
			</div>
			
	
		</div>
		<div class="bio">
			<div>
				<h2>Mini Bio</h2>
					<p>Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet.</p>
				</div>
			</div>
			<div id="comments">
				User Comments
			</div>
		</div>	
	


	

</body>
</html>